<div class="m-4">
    <main>
        <section class="m-3">
            {{> title data= "Facebook" big=true}}

            <strong>{{name}}</strong> <br>
            
            <ul class="m-3">

                <hr>
                <div>users</div>
                {{#each users}}
                    <li>{{id}}</li>
                    <li>{{name}}</li>
                    <li>{{gender}}</li>
                    <li>{{age}}</li>

                    <hr>
                    
                    <ul class="m-3">
                        {{#each friends}}
                            <div>Friends</div>
                            
                            <li>id:{{id}}</li>
                            <li>name:{{name}}</li>
                            <li>gender:{{gender}}</li>
                            <li>age:{{age}}</li>
                            <hr>
                           
                            <ul class="m-3">
                                {{#each mutual_friends}}
                                    <div>Mutual friends</div>
                                   
                                    <li>id:{{id}}</li>
                                    <li>name:{{name}}</li>
                                    <li>gender:{{gender}}</li>
                                    <li>age:{{age}}</li>
                                    <hr>
                                    
                                        {{#each mutual_friends}}
                                            <div>Mutual friends</div>
                                            
                                            <ul class="m-3">
                                                <li>id:{{id}}</li>
                                                <li>name:{{name}}</li>
                                                <li>gender:{{gender}}</li>
                                                <li>age:{{age}}</li>
                                            </ul>
                                            <hr>
                                                                                   
                                        {{/each}}
                                {{/each}}
                                <ul>


                        {{#each groups}}
                            <div>Groups</div>
                           
                                <li>id:{{id}}</li>
                                <li>name:{{name}}</li>
                                <li>description:{{description}}</li>
                                <ul class="m-3">
                                    <hr>
                                   
                                    {{#each members}} 
                                        <div class="m-3">Members</div>
                                        
                                        <li>id:{{id}}</li>
                                        <li>name:{{name}}</li>
                                        <li>gender:{{gender}}</li>
                                        <li>age:{{age}}</li>


                                    {{#each mutual_friends}}
                                        <li>{{id}}</li>
                                        <li>{{name}}</li>
                                        <li>{{gender}}</li>
                                        <li>{{age}}</li>
                                        <hr>                                        
                                        <ul class="m-3">
                                            <div>mutual_friends</div>
                                            {{#each mutual_friends}}
                                            <li>{{id}}</li>
                                            <li>{{name}}</li>
                                            <li>{{gender}}</li>
                                            <li>{{age}}</li>                                 
                                            {{/each}}
                                        </ul>                                            

                                    {{/each}}
                                </ul>

                                <hr>
                                <div>groups</div>
                                {{#each groups}} 
                                    <li>{{id}}</li>
                                    <li>{{name}}</li>
                                    <li>{{description}}</li>
                                    <hr>
                                        <ul class="m-3">
                                            <div>members</div>
                                            {{#each members}}
                                                <li>{{id}}</li>
                                                <li>{{name}}</li>
                                                <li>{{gender}}</li>
                                                <li>{{age}}</li>
                                                <hr>
                                            {{/each}}
                                        </ul>
                                {{/each}}
                            {{/each}}
                        </ul>
                

                        {{/each}}
                    </ul>
                            </ul>
                        {{/each}}
                    </ul>


                   
                    <ul class="m-3">
                        {{#each groups}}
                            <div class="m-3">Groups</div>
                           
                                <li>id:{{id}}</li>
                                <li>name:{{name}}</li>
                                <li>description:{{description}}</li>
                                <ul class="m-3">
                                    <hr>
                                   
                                    {{#each members}} 
                                        <div class="m-3">Members</div>
                                        
                                        <li>id:{{id}}</li>
                                        <li>name:{{name}}</li>
                                        <li>gender:{{gender}}</li>
                                        <li>age:{{age}}</li>
                                    {{/each}}
                                </ul>
                        {{/each}}
                    </ul>
                    

                {{/each}}
            </ul>


        </section>
    </main>
</div>