<div>
    <main>
        <section>
            {{> title data= "Facebook" big=true}}

            {{name}} <br>
            
            <ul>

                {{#each users}} 
                    <div>Users</div>
                    <br>
                    <li>id:{{id}}</li>
                    <li>name:{{name}}</li>
                    <li>gender:{{gender}}</li>
                    <li>age:{{age}}</li>
                    <hr>
                    <br>
                    <ul>
                        {{#each friends}}
                            <div>Friends</div>
                            <br>
                            <li>id:{{id}}</li>
                            <li>name:{{name}}</li>
                            <li>gender:{{gender}}</li>
                            <li>age:{{age}}</li>
                            <hr>
                            <br>
                            <ul>
                                {{#each mutual_friends}}
                                    <div>Mutual friends</div>
                                    <br>
                                    <li>id:{{id}}</li>
                                    <li>name:{{name}}</li>
                                    <li>gender:{{gender}}</li>
                                    <li>age:{{age}}</li>
                                    <hr>
                                    <br>
                                        {{#each mutual_friends}}
                                            <div>Mutual friends</div>
                                            <br>
                                            <ul>
                                                <li>id:{{id}}</li>
                                                <li>name:{{name}}</li>
                                                <li>gender:{{gender}}</li>
                                                <li>age:{{age}}</li>
                                            </ul>
                                            <hr>
                                            <br>                                        
                                        {{/each}}
                                {{/each}}
                                <ul>
                        {{#each groups}}
                            <div>Groups</div>
                            <br>
                                <li>id:{{id}}</li>
                                <li>name:{{name}}</li>
                                <li>description:{{description}}</li>
                                <ul>
                                    <hr>
                                    <br>
                                    {{#each members}} 
                                        <div>Members</div>
                                        <br>
                                        <li>id:{{id}}</li>
                                        <li>name:{{name}}</li>
                                        <li>gender:{{gender}}</li>
                                        <li>age:{{age}}</li>
                                    {{/each}}
                                </ul>
                        {{/each}}
                    </ul>
                            </ul>
                        {{/each}}
                    </ul>

                    <hr>
                    <br>
                    <ul>
                        {{#each groups}}
                            <div>Groups</div>
                            <br>
                                <li>id:{{id}}</li>
                                <li>name:{{name}}</li>
                                <li>description:{{description}}</li>
                                <ul>
                                    <hr>
                                    <br>
                                    {{#each members}} 
                                        <div>Members</div>
                                        <br>
                                        <li>id:{{id}}</li>
                                        <li>name:{{name}}</li>
                                        <li>gender:{{gender}}</li>
                                        <li>age:{{age}}</li>
                                    {{/each}}
                                </ul>
                        {{/each}}
                    </ul>
                    

                {{/each}}
            </ul>


        </section>
    </main>
</div>