<div>
    <main>
        <section>
            {{> title data= "Facebook" big=true}}

            {{name}} <br>
            <ul>
                <hr>
                <div>users</div>
                {{#each users}}
                    <li>{{id}}</li>
                    <li>{{name}}</li>
                    <li>{{gender}}</li>
                    <li>{{age}}</li>
                    <hr>

                        <ul>
                            <div>friends</div>
                            {{#each friends}}
                                <li>{{id}}</li>
                                <li>{{name}}</li>
                                <li>{{gender}}</li>
                                <li>{{age}}</li>
                                <hr>
                                <ul>
                                    <div>mutual_friends</div>
                                    {{#each mutual_friends}}
                                        <li>{{id}}</li>
                                        <li>{{name}}</li>
                                        <li>{{gender}}</li>
                                        <li>{{age}}</li>
                                        <hr>                                        
                                        <ul>
                                            <div>mutual_friends</div>
                                            {{#each mutual_friends}}
                                            <li>{{id}}</li>
                                            <li>{{name}}</li>
                                            <li>{{gender}}</li>
                                            <li>{{age}}</li>                                 
                                            {{/each}}
                                        </ul>                                            
                                    {{/each}}
                                </ul>
                                <hr>
                                <div>groups</div>
                                {{#each groups}} 
                                    <li>{{id}}</li>
                                    <li>{{name}}</li>
                                    <li>{{description}}</li>
                                    <hr>
                                        <ul>
                                            <div>members</div>
                                            {{#each members}}
                                                <li>{{id}}</li>
                                                <li>{{name}}</li>
                                                <li>{{gender}}</li>
                                                <li>{{age}}</li>
                                                <hr>
                                            {{/each}}
                                        </ul>
                                {{/each}}
                            {{/each}}
                        </ul>
                

                    {{#each groups}} 
                        <li>{{id}}</li>
                        <li>{{name}}</li>
                        <li>{{description}}</li>
                        <hr>
                            <ul>
                                {{#each members}}
                                    <li>{{id}}</li>
                                    <li>{{name}}</li>
                                    <li>{{gender}}</li>
                                    <li>{{age}}</li>
                                    <hr>
                                {{/each}}
                            </ul>
                    {{/each}}
                {{/each}}
            </ul>
        </section>
    </main>
</div>