<div>
    <main>
        <section>

            {{> title data= "jss" big=true}}
    
            <div>
                <p> name:{{name}}</p> <br>
                <p>description:{{description}}</p> <br>
                
                <ul>
                    <div>history</div>
                    {{#with history}}
                    <div>
                        <li> year:{{year}} </li>
                        <li>founder: {{founder}} </li>
                    {{/with}}
                </ul>
                <hr>
                <ul>
                    <div>types</div>
                    {{#each types}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>

                <ul>
                    <div>syntax</div>
                    {{#with syntax}}
                        <li> variables:{{variables}} </li>
                        <li> functions:{{functions}} </li>
                        <li> conditionals:{{conditionals}} </li>
                        <li> loops:{{loops}} </li>
                        <li> classes:{{classes}} </li>
                    {{/with}}
                </ul>

                <hr>

                <ul>
                    <div>features</div>
                    {{#each features}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>
                <ul>
                <div>   libraries  </div>
                    {{#each libraries}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>
                <ul>
                    <div>tools</div>
                    {{#each tools}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>

                <ul>
                    <div>community</div>
                    {{#each community}}
                        <li> name:{{name}} </li>
                        <li> type:{{type}} </li>
                        <hr>
                    {{/each}}
                </ul>
                
            </div>
        </section>
    </main>
</div>