<div>
    <main>
        <section>

            {{> title data= "jss" big=true}}
    
            <div>
                {{name}} <br>
                {{description}} <br>
                
                <ul>
                    {{#with history}}
                        <li> {{year}} </li>
                        <li> {{founder}} </li>
                    {{/with}}
                </ul>
                <hr>
                <ul>
                    {{#each types}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>

                <ul>
                    {{#with syntax}}
                        <li> {{variables}} </li>
                        <li> {{functions}} </li>
                        <li> {{conditionals}} </li>
                        <li> {{loops}} </li>
                        <li> {{classes}} </li>
                    {{/with}}
                </ul>

                <hr>

                <ul>
                    {{#each features}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>
                <ul>
                    {{#each libraries}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>
                <ul>
                    {{#each tools}}
                        <li> {{this}} </li>
                    {{/each}}
                </ul>

                <hr>

                <ul>
                    {{#each community}}
                        <li> {{name}} </li>
                        <li> {{type}} </li>
                        <hr>
                    {{/each}}
                </ul>
                
            </div>
        </section>
    </main>
</div>