<div>
    <main>
        <section>
            <div>
                {{> title data= "Mac" big=true}}
                <ul>
                    <li>name:{{name}} </li><br>
                    <li>description:{{description}}</li> <br>
                    <li>price:{{price}}</li> <br>
                    <li>category:{{category}}</li> <br>
                </ul>
            </div>

            <div>
                <ul>
                    <ul>
                        {{#with  features.processor}}
                        <div> Processor </div>
                            <li> brand:{{brand}} </li>
                            <li> model:{{model}} </li>
                            <li> speed:{{speed}} </li>
                            <li> cores:{{cores}} </li>
                            <li> cache:{{cache}} </li>
                        {{/with}}
                    </ul>
                    <hr>
                    <ul>
                        {{#with  features.memory}}
                        <div>Memory</div>
                            <li> type:{{type}} </li>
                            <li> size:{{size}} </li>
                            <li> speed:{{speed}} </li>
                        {{/with}}
                    </ul>
                    <hr>
                    <ul>
                        {{#with  features.storage}}
                        <div>Storage</div>
                            <li> type:{{type}} </li>
                            <li> size:{{size}} </li>
                        {{/with}}
                    </ul>
                    <hr>
                     {{#with  features.display}} 
                     <div>Display</div>
                        <li> size:{{size}} </li>
                        <li> resolution:{{resolution}} </li>
                        <li> technology:{{technology}} </li>
                        <li> color_space:{{color_space}} </li>
                        <li> brightness:{{brightness}} </li>
                        <li> refresh_rate:{{refresh_rate}} </li>
                    {{/with}}
                    <hr>
                    {{#with  features.graphics}} 
                    <div>Graphics</div>
                        <li> brand:{{brand}} </li>
                        <li> model:{{model}} </li>
                        <li> memory:{{memory}} </li>                        
                    {{/with}}
                    <hr>
                   
                        {{#each features.ports}}
                        <div>Ports</div>
                            <li> type:{{type}} </li>
                            <li> count:{{count}} </li>
                            <ul>
                                <hr>
                                
                                <br>

                                {{#each features}}
                                
                                    <li>Feature: {{this}} </li>
                                    <hr>
                                {{/each}}
                            </ul>                            
                        {{/each}}
                        <hr>                        
                    </ul>
                    

                    <ul>
                        {{#with features.battery}}
                        <div> Battery</div>
                            <li>type: {{type}} </li>
                            <li>capacity: {{capacity}} </li>
                            <li>life: {{life}} </li>
                        {{/with}}
                    </ul>

                    <hr>
                    {{weight}} <br>
                    {{#with features.dimensions}} 
                    <div>Dimensions</div>
                        <li> height:{{height}} </li>
                        <li> width:{{width}} </li>
                        <li> depth:{{depth}} </li>
                    {{/with}}
                    <hr>

                    {{#with features}}
                    <li>Operating system:{{operating_system}} </li>
                    {{/with}}
                    
                    <br>

                    <hr>

                    {{#each features.accessories}} 
                        <li> name:{{name}} </li>
                        <li> price:{{price}} </li>
                        <hr>
                    {{/each}}

                </ul>
            </div>

        </section>
    </main>
</div>