{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

    <main>
        <section>
            {{> title data= "My person" big=true}}
            {{#with person}}
            <div>
                <ul>
                    <li>{{name}}</li>
                    <li>{{age}}</li>
                    <li>{{gender}}</li>
                </ul>
                <hr>
                <ul>
                    {{#with address}}
                    <li>{{street}}</li>
                    <li>{{city}}</li>
                    <li>{{state}}</li>
                    <li>{{zip}}</li>
                    <li>{{country}}</li>
                    {{/with}}
                </ul>
            </div>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            <div>
                {{> title data="My education" big=true}}
                <ul>
                    {{#each person.education}}
                    <li>{{degree}}</li>
                    <li>{{major}}</li>
                    <li>{{university}}</li>
                    <li>{{graduationYear}}</li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <hr>
        <br>
        <section>
            {{> title data="workExperience" big=true}}
            {{#with person}}
            <ul>
                {{#each workExperience}}
                <li>{{company}}</li>
                <li>{{title}}</li>
                <li>{{startDate}}</li>
                <li>{{endDate}}</li>
                <hr>
                <div>
                    <ul>
                        {{#each responsibilities}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <li>{{year_founded}}</li>
                <li>{{industry}}</li>
                <hr>
                <ul>
                    {{#each employees}}
                    <li>{{name}}</li>
                    <li>{{position}}</li>
                    <li>{{department}}</li>
                    <hr>
                    <ul>
                        {{#each projects}}

                            <li>{{name}}</li>
                            <li>{{description}}</li>
                            <li>{{status}}</li>

                        <li>{{name}}</li>
                        <li>{{description}}</li>
                        <li>{{status}}</li>

                    </ul>
                    <hr>
                    <ul>
                        {{#each teams}}
                        <li>{{team_name}}</li>
                        <hr>
                        <ul>
                            {{#each team_leader}}
                            <li>{{name}}</li>
                            <li>{{title}}</li>
                            <li>{{email}}</li>
                            {{/each}}
                        </ul>
                        <hr>
                        <ul>
                            {{#each team_members}}
                            <li>{{name}}</li>
                            <li>{{title}}</li>
                            <li>{{email}}</li>
                            <li>{{skills}}</li>
                            <hr>
                            <ul>
                                {{#each skills}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            <hr>
                            <div>
                                <ul>
                                    {{#each projects}}
                                    <li>{{name}}</li>
                                    <li>{{description}}</li>
                                    <hr>
                                    <div>
                                        <ul>
                                            {{#each technologies}}
                                            <li>{{this}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <hr>
                                    <div>
                                        <ul>
                                            {{#each team_members}}
                                            <li>{{name}}</li>
                                            <li>{{title}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            </li>
                            {{/each}}
                        </ul>
                        </li>
                        {{/each}}
                    </ul>
                    {{/each}}
                </ul>
                {{/each}}
            </ul>
            {{/each}}
            </ul>
            {{/with}}
        </section>
    </main>
</div>







{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}