<div class="m-4">
    <main>
        <section>
            {{> title data= "My program" big=true}}

            <div class="m-3">
                <ul>                    
                    {{#with program.excursion}}
                            <li class="m-3">{{name}}</li>
                            <hr>
                                {{#with location}}
                                    <ul class="m-3">
                                        <li>{{city}}</li>
                                        <li>{{country}}</li>
                                    </ul>
                                {{/with}}
                                <hr>

                            <li>{{date}}</li>
                            <ul class="m-3">
                                {{#each program}}
                                    <div class="m-3">
                                        <li> {{name}} </li>
                                        <li> {{type}} </li>
                                        <li> {{duration}} </li>
                                        <hr>

                                        <ul class="m-3">
                                            {{#with details}}
                                                {{#with museum}}
                                                    <li> {{name}} </li>
                                                    <ul class="m-3">
                                                        {{#with location}}
                                                            <li>{{address}}</li>
                                                            <li>{{city}}</li>
                                                            <li>{{country}}</li>
                                                        {{/with}}
                                                    </ul>
                                                    <hr>
                                                    <ul class="m-3">
                                                        {{#each exhibits}}
                                                            <li> {{name}} </li>
                                                            {{#if artist}}
                                                            <li> {{artist}} </li>
                                                            {{else}}
                                                            {{/if}}

                                                            <li> {{description}} </li>
                                                            
                                                            <li> {{audio_guide}} </li>
                                                            
                                                            <hr>
                                                        {{/each}}
                                                    </ul>                                                    
                                                {{/with}}
                                                <ul class="m-3">
                                                    {{#with guide}} 
                                                        <li> {{name}} </li>
                                                        <li> {{language}} </li>
                                                        <li> {{rating}} </li>
                                                    {{/with}}
                                                </ul>
                                               
                                            {{/with}}
                                            <ul class="m-3">
                                                {{#with details}}
                                                    {{#with venue}}
                                                        <li> {{name}} </li>
                                                        <ul class="m-3">
                                                           {{#with location}} 
                                                            <li> {{address}} </li>
                                                            <li> {{city}} </li>
                                                            <li> {{country}} </li>
                                                            {{/with}}
                                                        </ul>
                                                    {{/with}}
                                                    <hr>
                                                    <ul class="m-3">
                                                        {{#each performers}}
                                                            <li> {{name}} </li>
                                                            <li> {{type}} </li>
                                                            <hr>
                                                        {{/each}}                                                        
                                                    </ul>

                                                    <ul class="m-3">
                                                    {{#with guide2}} 
                                                        <li> {{name}} </li>
                                                        <li> {{language}} </li>
                                                        <li> {{rating}} </li>
                                                    {{/with}}
                                                </ul>
                                                {{/with}}
                                            </ul>
                                        </ul>
                                      
                                    </div>

                                    
                                {{/each}}
                        </ul> 
                    {{/with}}                    
                </ul> 

                <ul class="m-3">
                    {{#each contributions}}
                        <li> {{title}} </li>
                        <li> {{description}} </li>
                        <li> {{year}} </li>
                        <li> {{field}} </li>
                    {{/each}}
                </ul>
            </div>

</section>
</main>
</div>