<main class="m-3">
    <div>
        {{#with navigation}} 
            <div >
                <div class="card">
                    <div class="card-body">
                        {{#each links}}
                             <a href=" {{href}} "><button class="btn btn-link">{{text}}</button></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>


    <header class="display-5"><b>{{header}}</b></header>

    <div class=" nav nav-tabs mb-3">
        {{#with  purchase}} 
            {{#each tabs}} 
                <div class="nav-item  mb-5">
                    <a  class="nav-link">{{this}}</a>
                </div>
            {{/each}}
           

            <div class="mt-5">
                {{#with actionBlock}}
                
                    <div class="card">
                        <input placeholder="{{placeholder}}" class="form-control">
                    </div>
                
                    <div class="me-2">
                        {{#each buttons}}
                            {{#if isSuccess}}
                                <a href="{{link}}" class="btn btn-success">{{text}}</a>
                            {{/if}}
                            {{#if isOutline}}
                                <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
                            {{/if}}
                            {{#if isDanger}}
                                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                
                {{/with}}
            </div>

        {{/with}}
    </div>







</main>