<main class="m-3">
    <div>
        {{#with navigation}} 
            <div >
                <div class="card">
                    <div class="card-body">
                        {{#each links}}
                             <a href=" {{href}} "><button class="btn btn-link">{{text}}</button></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>


    <header class="display-5"><b>{{header}}</b></header>

    <div class="row">
        <div class=" nav nav-tabs mb-3">
            {{#with  purchase}}
                {{#each tabs}}
                    <div class="nav-item  mb-2">
                        <a  class="nav-link">{{this}}</a>
                    </div>
                {{/each}}
        
                
                {{#with actionBlock}}
    
                    <div class="card col-4">
                        {{#with input}}
                            <input placeholder="{{placeholder}}" class="form-control ">
                        {{/with}}
                    </div>
    
                    <div class="mt-2">
                        {{#each buttons}}
                            {{#if isSuccess}}
                                <a href="{{link}}" class="btn btn-success">{{text}}</a>
                            {{/if}}
                            {{#if isOutline}}
                                <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
                            {{/if}}
                            {{#if isDanger}}
                                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/with}} 
    
                {{#each itemList}}                            
                    <div class="card col-12 mb-3">
                        <div class="carg-body ">
                            <div class="col-4">
                                {{number}}
                                {{status}}
                            </div>
                            <div class="col-4">
                                {{#with amount}}
                                    {{ title}}
                                    {{ value}}
                                {{/with}}
                            </div>
                            
                            <img src="{{images}}">
                            {{#with button}}
                                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                                {{#if isPrimary}}
                                {{else}}                                    
                                {{/if}}
                            {{/with}}
                        </div>
                    </div>    
                {{/each}}
            {{/with}}
        </div>

        <div>
            {{#with userInfo}}
                {{title}}
            {{/with}}
        </div>
    </div>







</main>