<main class="m-3 ">
    
    <header>
        {{#with navigation}} 
            <div >
                <div class="card">
                    <div class="card-body">
                        {{#each links}}
                            <button class="btn btn-link"> <a href=" {{href}} ">{{text}}</a> </button>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </dheader>

    <section > 
        {{#with  newsBlock}}
            <div class="text-center"><h2>{{title}}</h2></div>
                <div class="row">
                    <div class="col-3 mb-3">
                        {{#each cards}}
                            <divclass="card ">
                                <div class="list-group ">
                                    <div  class="list-group-item " >
                                        <div class="text-bg-dark ">
                                            <div class="card-body">
                                                <div class="card-title">{{title}}</div>
                                                <div class="card-text">{{description}}</div>

                                                {{#if isTop}} 
                                                    <span class="badge rounded-pill text-bg-warning text-uppercase">Top!</span>
                                                {{/if}}
                                                {{#if isNew}} 
                                                    <span class="badge rounded-pill text-bg-primary">New!</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}} 
                    </div>
                </div>
        {{/with}}
    </section>
    
    
    <hr>
        <div class="row">   
            {{#with goodsBlock}}         
                <div class="nav">
                    {{#each tabs}}
                        <div class="card-body col-2 my-2">
                            <div class="nav-tabs">
                                <div class="nav-item">                                    
                                     {{#if isActive}}
                                    <a href="#" class="nav-link ">{{text}}</a>
                                    {{/if}}
                                    {{#if isDisabled}}
                                    <a href="#" class="nav-link text-bg-">{{text}}</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>    
    <hr>

   
    <hr>

    <div class="row">
        {{#each goodsBlock.cards}}
            <div class="col-4 g-3 ">
                <div class="card">
                    <div>
                        <img class="card-img-top col-12" src="{{image}}" >
                        </div>
                    <div class="card-body">
                        <b>{{ tabs}}</b>
                        <div >
                            {{#if isHot}}
                            <span class="badge rounded-pill text-bg-warning text-uppercase">Hot!</span>
                            {{/if}}
                            {{#if isNew}}
                            <span class="badge rounded-pill text-bg-primary">New!</span>
                            {{/if}}
                            <div class="card-title">{{title}}</div>
                        </div>
                        <div >{{description}}</div>                        
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="row-4">
        <div class="alert alert-dark">
            <div>
                {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    <div class="flex-column col-3 ">
                        {{#each buttons}}
                            <a href="{{link}}" class="btn btn-primary m-2">{{text}}</a>
                        {{/each}}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row-4">
        <div class="card text-center">
            <div >
                <div class="alert alert-primary">
                    {{#with service}}
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>
                        <div class="flex-column col-3 ">
                            {{#each buttons}}
                                <a href="{{link}}" class="btn btn-primary m-2">{{text}}</a>
                            {{/each}}
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</main>

<footer>   
    <div class="row">
        
        {{#each footer}}
            {{#each this}}
                <div class="col-3">
                    <div class="listgroup">
                        <div class="listgroup-item">
                            <div>
                                <div>
                                    <a href="{{link}}" class="btn btn-link"> {{text}} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
           
    </div>           
</footer>
