<main class="m-3">
    
    <div>
        {{#with navigation}} 
            <div >
                <div class="card">
                    <div class="card-body">
                        {{#each links}}
                            <button class="btn btn-link"> <a href=" {{href}} ">{{text}}</a> </button>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>

    <section> 
            {{#with  newsBlock}}
                <div class="text-center"><h2>{{title}}</h2></div>
                    <div class="row g-3">
                        {{#each cards}}
                            <div class=" card my-3 col-3">
                                <div class="card-body text-bg-dark">
                                    {{#if isTop}}
                                        <div class="badge text-bg-success rounded-pill text-uppercase">{{isTop}}</div>
                                        {{else}}
                                    {{/if}}

                                    {{#if isNew}}
                                        <div class="badge text-bg-danger rounded-pill text-uppercase">{{isNew}}</div>
                                        {{else}}
                                    {{/if}}
                                    <h5 class="card-title">{{title}}</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
            {{/with}}
    </section>
    
    <hr>

   
    {{#with goodsBlock}}
        <ul class="nav nav-tabs mb-5">
            {{#each tabs}} 
                <li class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">
                    {{text}}
                </li>
            {{/each}}
        </ul>
    {{/with}}

    <hr>

    <div class="row">
        {{#each goodsBlock.cards}}
            <div class="col-4 g-3 ">
                <div class="card  text-bg-secondary">
                    <div>
                       <img class="img-card-top col-12" src="{{image}}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <p>{{description}}</p> 
                        <div class="badge text-bg-success rounded-pill text-uppercase">{{isHop}}</div>
                        <div class="badge text-bg-danger rounded-pill text-uppercase">{{isNew}}</div>                      
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="row-4">
        <div class="card text-bg-secondary">
            <div class="card-body">
                {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    <div class="flex-column col-3 ">
                        {{#each buttons}}
                            <a href="{{link}}" class="btn btn-primary m-2">{{text}}</a>
                        {{/each}}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
    <hr>
    <div class="  card  text-bg-success ">
        {{#with service}}
            <h2 class="card-header text-center">{{title}}</h2>
            <p class="text-center">{{description}}</p>
                <div class="card-body text-center">
                    {{#each buttons}}
                        <a href="{{link}}" class="btn btn-primary col-4 ">{{text}}</a>
                    {{/each}}
                </div>
        {{/with}}
    </div>
</main>

    <footer>
        <div class="row row-cols-5 row-cols-md-5 g-1 ">
            {{#each footer}}
                <div class="nav">
                    <div>
                        {{#each this}}
                            {{#if @last}}
                                <a class="nav-link disabled" href="{{link}}">{{text}}</a>
                            {{else}}
                                <a class="nav-link" href="{{link}}">{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </footer>
