<main class="m-3"> 
    <div class="mb-3">
        {{#with navigation}} 
            <div class="card">
                <div class="card-body">
                    {{#each links}}
                            <a href=" {{href}} "class="btn btn-link" >{{text}}</a>
                    {{/each}}
                </div>
            </div>
        {{/with}}
    </div>

    <div class="row ms-3"> 
        <div class="col-8  ">
            {{#with formBlock}} 
                <p class="display-4">{{header}}</p>
                {{#with rating}} 
                    <small>{{title}}</small>
                    <small>{{value}}</small> <br>
                {{/with}}
                {{#with actionBlock}} 
                    <div class="nav mb-3">
                        <div class="card-body row">
                            {{#each tabs}}
                                <div class="nav nav-tabs col-4">
                                    <div class="nav-item ">
                                        {{#if isActive}}
                                        <a href="#" class="nav-link active">{{text}}</a>
                                        {{else}}
                                        <a href="#" class="nav-link">{{text}}</a>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    {{#with report}} 
                        <div class="card p-3 my-2">
                            <small class="mb-2">{{title}}</small>
                            <div class="col-4">
                                {{#with button}}
                                    <a href="{{link}}" class="btn btn-secondary"> {{text}}</a>
                                {{/with}}
                            </div>
                        </div>
                    {{/with}}
                {{/with}}
                
                <hr>

                {{#with feedbackBlock}} 
                    <h2><b>{{title}}</b></h2>
                    <div class="mb-3">
                        {{#each buttons}}
                            
                            {{#if isWarning}}
                                <a href="{{link}}" class="btn btn-warning m-1">{{text}}</a>
                            {{/if}}
                            
                            {{#if isSuccess}}
                                <a href="{{link}}" class="btn btn-success m-1">{{text}}</a>
                            {{/if}}

                            {{#if isDanger}}
                                <a href="{{link}}" class="btn btn-danger m-1">{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/with}}
            {{/with}}

        </div>

        <div class="col-4 ">
            {{#with  formBlock.goodsInfo}} 
                <div class="card card-body my-3">
                    <img src="{{photo}}"><br>
                    <small class="card-title">{{name}}</small>
                </div>
                <div class="card card-body">
                    {{price}}
                    {{#if inMarket}}
                        {{#each buttons}}
                                <div class="p-3">
                                    {{#if isPrimary}}
                                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                                    {{/if}}
                                    {{#if  isSecondary}}
                                        <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                                    {{/if}}
                                </div>
                        {{/each}}
                    {{/if}}
                    {{#with seller}}
                        <div >
                            <small>{{title}}:</small>
                            <small><b>{{value}}</b></small>
                        </div>
                    {{/with}}
                </div>
            {{/with}}
        </div>
    </div>

        {{> reviewItem}}

    <div class="  card  text-bg-success ">
        {{#with service}}
            <h2 class="card-header text-center">{{title}}</h2>
            <p class="text-center">{{description}}</p>
                <div class="card-body text-center">
                    {{#each buttons}}
                        <a href="{{link}}" class="btn btn-primary col-4 ">{{text}}</a>
                    {{/each}}
                </div>
        {{/with}}
    </div>

    <hr>

    <footer>   
        <div class="row p-2">
            {{#each footer}}
                <div class="col-2">
                    {{#each this}}
                        <div class="listgroup">
                            <div class="listgroup-item">                            
                                <a href="{{link}}" class="btn btn-link"> {{text}} </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>           
    </footer>






</main>