<div>
    <main>
        <section>
            {{> title data="Task 21" big=true}}

            <br>

            <div >
                {{#with heading}} 

                    <div class="card">
                        <div class="card-body">

                            <div class="card card-body">
                                {{#with main}}
                                     <h1>{{title}}</h1>
                                    <br>
                                    <p> {{text}} </p>
                                    <br>
                                    {{#with button_text}}
                                        <div class="btn btn-primary">{{solid}}</div>
                                        <br>
                                        
                                        <div class="btn btn-outline-primary"> {{outline}} </div>
                                    {{/with}}
                                {{/with}}
                            </div>

                        </div>
                            
                            <br>
                        <div class="card-body">

                            {{#with second}}
                                <div class="card card-body">
                                    <h2> {{title}} </h2>
                                    <p> {{text}} </p>
                                    <br>
                                    {{#with button_text}}
                                        <div class="btn btn-secondary">{{solid}}</div>
                                        <br>
                                        <br>
                                        <div class="btn btn-outline-secondary"> {{outline}} </div>
                                    {{/with}}
                                </div>
                            {{/with}}
                            <br>

                            <div class="card card-body">
                                {{#with second}}
                                    <h2> {{title}} </h2>
                                    <p> {{text}} </p>
                                    <br>
                                    {{#with button_text}}
                                        <div class="btn btn-secondary">{{solid}}</div>
                                        <br>
                                        <br>
                                        <div class="btn btn-outline-secondary"> {{outline}} </div>
                                    {{/with}}
                                {{/with}}
                            </div>

                        </div>
                            <br>
                        <div class="card-body">
                            {{#with subblock}}

                                <h3> {{title}} </h3>
                                <p> {{text}} </p>
                                <br>
                                {{#with button_text}}
                                    <div class="btn btn-dark">{{solid}}</div>
                                    <br>
                                    <br>
                                    <div class="btn btn-outline-dark"> {{outline}} </div>
                                {{/with}}

                                <div class="card card-body">
                                    <h3> {{title}} </h3>
                                    <p> {{text}} </p>
                                    <br>                                
                                    {{#with button_text}}
                                        <div class="btn btn-dark">{{solid}}</div>
                                        <br>
                                        <br>
                                        <div class="btn btn-outline-dark"> {{outline}} </div>
                                    {{/with}}
                                </div>

                            {{/with}}
                        </div>
                    </div>
                {{/with }}


                    <br>


                <div class="card">
                    {{#with nested_display}}
                        <div class="display-1"> {{title}} </div>
                        <div class="card-body">
                            {{#with children_display}}
                                <div class="display-4"> {{title}} </div>
                                <p> {{text}} </p>
                                {{#with button}}
                                    <div class="btn btn-warning"> {{text}} </div>
                                {{/with}}
                            {{/with}}                       
                            <br>
                            <br>
                            <h6> {{header_text}} </h6>
                            {{#with button}}
                                <div class="btn btn-info">{{text}}</div>
                            {{/with}}
                         </div>
                    {{/with}}
                </div>
                <br>
                <br>

                <div class="card">
                    {{#with paragraph}}
                        <div class="card-body">
                            <p class="text-uppercase">{{title}}</p>
                            <p class="text-lowercase">{{text}}</p>
                        </div>
                        <br>
                        <div class="card-body">
                            <div class="card">
                                {{#with button}}
                                    <div class="btn btn-link">
                                        <a href="{{url}}">{{text}}</a>
                                    </div>
                                    
                                {{/with}}
                                <br>
                                <ul>
                                    {{#each list_name}}
                                        <li class="btn btn-link"> 
                                            <a href="{{url}}" >
                                                {{text}}
                                            </a> 
                                        </li>                                        
                                        <br>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/with}}
                </div>
            </div>


        </section>
    </main>
</div>