<div>
    <main>
        <section>
                {{> title data="Task 22" big=true}}

                <br>

                {{#with page_header}} 
                    <h1 class="text-center">{{title}}</h1> <br>
                    <p class="text-center text-uppercase">{{description}} </p>
                    <br>
                {{/with}}

                <br>

                {{#with section}} 
                    <div class="card">
                        <div class="card-body">
                            {{#with about_us}}
                                 {{#with title_list}}
                                    <div class="display-6 text-end">{{main}}</div> <br>
                                    <h2 class="text-end">{{sub}}</h2> <br>
                                {{/with}}
                                <br>
                                {{#with button}}
                                    <div class="btn btn-outline-info">{{text}}</div>
                                {{/with}}
                                <br>
                            {{/with}}
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class:"card-body">
                            {{#with advantage}}
                                <div class="display-5">{{title}}</div> <br>
                                <div class="card">
                                    <div class="card-body">
                                        {{#with efficiency}}
                                            <div class="display-4">{{title}}</div> <br>
                                            <h6>{{sub_title}}</h6> <br>
                                            <p>{{description}}</p> <br>
                                            <div class="btn btn-outline-warning">{{button}}</div> <br>
                                        {{/with}}
                                    </div>
                                </div>
                                <br>
                                 <div class="card">
                                     <div class="card-body">
                                        {{#with innovation}}
                                            <div class="display-4 text-center">{{title}}</div> <br>
                                            <h6 class="text-center">{{sub_title}} </h6><br>
                                            <p class="text-center">{{description}}</p> <br>
                                            <div class="btn btn-outline-warning">{{button}}</div> <br>
                                        {{/with}}
                                     </div>
                                 </div>
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        {{#with collaboration}}
                                            <div class="display-4 text-end">{{title}}</div> <br>
                                            <h6 class="text-end">{{sub_title}}</h6> <br>
                                            <p class="text-end">{{description}}</p> <br>
                                            <div class="btn btn-outline-warning">{{button}}</div> <br>
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with agreement}}
                                <div display-5>{{title}}</div> <br>
                                <div class="card">
                                    <div class="sub-card">
                                        {{#with info}}
                                            <h5>{{sub_title}}</h5>
                                            {{#with detail}}
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p>{{text}}</p> <br>
                                                        <div class="btn btn-success">{{button}}</div> <br>
                                                    </div>
                                                </div>
                                            {{/with}}
                                        {{/with}}
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
 
        </section>
    </main>
</div>