
<header>
    <div class="row gx-5">
        <ul>
            {{#with navigation}}
                <nav class="nav">
                    {{#each links}}
                        <a class="nav-link" href="{{href}}">{{text}}</a>
                    {{/each}}
                    {{#with button}}
                        <button href="{{href}}" class="btn btn-primary ">{{text}}</button></a>
                    {{/with}}
                </nav>
            {{/with}}
        </ul>
    </div>     
    <hr>         
    <div >
        {{#with header}} 
        <h1>{{title}}</h1>
        <p class="text-muted">{{description}}</p>
        {{#with button}}
            <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
        {{/with}}
        {{/with}}
    </div> 
    <hr>        
</header> 
   
<main>
    <div>
        <section >
            <div>
                {{#with city}}
                    <h2> {{title}}</h2> 
                    <br>

                    <div class="row">
                        {{#each cards}} 
                            <div class="col-6 g-3 ">                                   
                                <div class="card">
                                    {{#with picture}}
                                        <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                                    {{/with}}
                                    <div class="card-body">
                                        <h4 class="card-title">{{title}}</h4>
                                        <p>{{description}}</p>
                                        {{#with button}}
                                            <a href="{{href}}"><button target="_blank" class="btn btn-primary">{{text}}</button></a>
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/with}}
            </div>
        </section>

        <hr>

        <section>
            {{#with winner}} 
                <h2>{{title}}</h2>
                {{#with table}} 
                    <table class="table table-bordered">                        
                        <tr>
                            {{#each head}}  
                                <th> {{this}} </th>                                                                  
                            {{/each}}
                        </tr>
                        {{#each user}}
                            <tbody>
                                <tr>                                        
                                    <td>{{place}}</td>
                                    <td>{{name}}</td>
                                    <td>{{surname}}</td>
                                    <td>{{nickname}}</td>                                        
                                </tr>
                            </tbody>
                        {{/each}}                        
                    </table>
                {{/with}}
            {{/with}}
        </section>

        <hr>

        <div >
            {{#with gallery}}
                <h2> {{title}} </h2>

                <div class="row">
                    {{#each cards}}
                        <div class="col-4 g-3">
                            <div class="card">
                                <p class="card-header">{{name}}</p>
                                <ul class="list-group">
                                    {{#each items}}
                                        <li class="list-group-item">{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/each}} 
                </div>
            {{/with}}
        </div>

        <hr>

        <div>
            {{#with relaxion}}
                <p class="display-3"> {{title}} </p>

                <div class="row gy-2"> 
                    
                    {{#each cards}}
                        <div class="col-6 g-3">
                            <div class="card text-bg-secondary">
                                <div class="card-header">{{header}}</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{title}}</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    
                </div>
            {{/with}}
        </div>
       
        <hr>
        
        
        {{#with rest}}                 
            <div class="row ">                 
                {{#each cards}}
                    <div class="col-6">
                        <div class="card text-center">
                            <p class="card-header">{{header}}</p>
                            <div class="card-body">
                                <p class="card-title">{{title}}</p>
                                <p class="card-text">{{description}}</p>
                                <a href="#" class="btn btn-primary">{{button}}</a>
                            </div>
                            <p class="card-footer">{{footer}}</p>
                        </div>
                    </div>
                {{/each}}                
        </div>
        {{/with}}
       
        

        <div>           
            {{#with proposition}}
                <p class="display-3"> {{title}} </p>
                <div class="row ">
                    {{#each card}}
                        <div class="col-6">
                            <div class="card text-bg-warning">
                                <div class="card-header">{{header}}</div>
                                <div class="card-body">
                                    <p class="card-title"><b>{{title}}</b></p>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}            
        </div>
             

    </div>
</main>

 <hr>

<footer>
    <div>
        {{#with footer}}
            <h5> {{title}} </h5>

            <div class="row">
                <div class="card col-3">
                    <div class="card-body col-3  ">
                        {{#each navigation}}
                            <a href="{{href}}"><button class="btn btn-link"> {{text}} </button></a>
                        {{/each}}
                    </div>
                </div>
                                       
                <div class="card col-3">
                    <div class="card-body col-3  ">
                        {{#each socialMedia}}
                            <a href="{{link}}"><button class="btn btn-outline-dark"> {{name}} </button></a>
                        {{/each}}
                    </div>
                </div>
               
                <div class="card col-3">
                    <div class="card-body col-3 ">
                        {{#each partners}}
                            <a href="{{link}}"><button class="btn btn-outline-info"> {{name}} </button></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</footer>