<main>
    <div>
        <section>
            <div class="row gx-5">
                <ul>
                    {{#with navigation}}

                        {{#each links}}
                            <li class="btn btn-link col-2 "><a href="{{href}}">{{text}}</a></li>                            
                        {{/each}}

                        {{#with button}}
                        <a href="{{href}}"><button class="btn btn-primary col-2 ">{{text}}</button></a>
                        {{/with}}
                    {{/with}}
                </ul>
            </div>
        </section>
        <hr>
            
        <section class="card">
            {{#with header}} 
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{#with button}}
                <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
            {{/with}}
            {{/with}}
        </section>
        <hr>

        <section class="col-12">
            <div>
                {{#with city}}
                     <h2> {{title}}</h2> 
                    <div class="card col-10">
                        {{#each cards}} 
                            <ul class="card m-3 ">
                                <section>
                                    <div>
                                        {{#with picture}}
                                            <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                                        {{/with}}
                                    </div>
                                    <div>
                                        <p class="card-header">{{title}}</p>
                                    </div>
                                    <div>
                                        <p>{{description}}</p>
                                    </div>
                                    <div>
                                        {{#with button}}
                                            <a href="{{href}}"><button class="btn btn-primary">{{text}}</button></a>
                                        {{/with}}
                                    </div>
                                </section>                                
                            </ul>
                        {{/each}}
                    </div>
                {{/with}}
            </div>
        </section>

        <hr>
        <section>
            {{#with winner}} 
                <h2>{{title}}</h2>
                {{#with table}} 
                    <table class="table table-bordered">                        
                        <tr>
                            {{#each head}}  
                                <th> {{this}} </th>                                                                  
                            {{/each}}
                        </tr>
                        {{#each user}}
                            <tbody>
                                <tr>                                        
                                    <td>{{place}}</td>
                                    <td>{{name}}</td>
                                    <td>{{surname}}</td>
                                    <td>{{nickname}}</td>                                        
                                </tr>
                            </tbody>
                        {{/each}}                        
                    </table>
                {{/with}}
            {{/with}}
        </section>

        <section class="col-10">
            <div >
                {{#with gallery}}
                 <p class="display-3"> {{title}} </p>
                    <div class="card "> 
                        <div class="card-body col-5">
                            {{#each cards}}
                                <p class="card-header">{{name}}</p>
                                {{#each items}}
                                    <p >{{this}}</p>
                                {{/each}}
                            {{/each}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </section>

        <section>
            <div class="card">
                {{#with relaxion}}
                 <p class="display-3"> {{title}} </p>
                    <div class="card "> 
                        <div class="card-body col-5">
                            {{#each cards}}
                                <p class="card-header">{{header}}</p>
                                <p >{{title}}</p>
                                <p >{{description}}</p>
                            {{/each}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </section>

        <section>
            <div class="card">
                {{#with rest}}                 
                    <div class="card "> 
                        <div class="card-body col-5">
                            {{#each cards}}
                                <p class="card-header">{{header}}</p>
                                <p >{{title}}</p>
                                <p >{{description}}</p>
                                <p >{{button}}</p>
                                <p >{{footer}}</p>
                            {{/each}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </section>

        <section>
            <div class="card">
                {{#with proposition}}
                 <p class="display-3"> {{title}} </p>
                    <div class="card "> 
                        <div class="card-body col-5">
                            {{#each card}}
                                <p class="card-header">{{header}}</p>
                                <p >{{title}}</p>
                                <p >{{description}}</p>
                            {{/each}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </section>
        <hr>
        <section>
            <div class="card card-footer  col-12">
                {{#with footer}}
                    <div >
                        <div class="card-body col-3  gy-2">
                            <h5> {{title}} </h5>
                            {{#each navigation}}
                                <a href="{{href}}"><button class="btn btn-link"> {{text}} </button></a>
                            {{/each}}
                        </div>
                    </div>
                    <div >
                        <div class="card-body col-3  gy-2">
                            {{#each socialMedia}}
                                <a href="{{link}}"><button class="btn btn-outline-dark"> {{name}} </button></a>
                            {{/each}}
                        </div>
                    </div>
                    <div>
                        <div class="card-body col-3 row gy-2">
                            {{#each partners}}
                                <a href="{{link}}"><button class="btn btn-outline-info"> {{name}} </button></a>
                            {{/each}}
                        </div>
                    </div>
                {{/with}}
            </div>
        </section>

    </div>
</main>