                           
<div class="card mb-3 ">
    <div class="row m-3">
        <div class="col-2 ">
            {{number}}
            {{status}}
        </div>
      
        <div class="col-2 ">
            {{#with amount}}
                {{ title}}
                {{ value}}
            {{/with}}
        </div>

        <div class="col-6 ">
            {{#each images}}
                <img src="{{this}}">
            {{/each}}
        </div>


        <div class="col-2 ">
            {{#with button}}
                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                {{#if isPrimary}}
                {{else}}
                {{/if}}
            {{/with}}
        </div>
    </div>
</div>    
           